name: Test

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "**.md"
      - "**.yml"
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.yml"

concurrency:
  cancel-in-progress: true
  group: test-${{ github.event.pull_request.number || github.sha }}

jobs:
  test:
    runs-on: ${{ matrix.data.os }}
    strategy:
      fail-fast: false
      matrix:
        data:
          - os: macos-11
            platform: macos
            generator: Ninja
            memcheck: false
          - os: macos-12
            platform: macos
            generator: Ninja
            memcheck: false
          - os: ubuntu-20.04
            platform: linux
            generator: Ninja
            memcheck: true
          - os: ubuntu-22.04
            platform: linux
            generator: Ninja
            memcheck: true
          - os: windows-2022
            platform: windows
            generator: Visual Studio 17 2022
            memcheck: false
    steps:
      - uses: actions/checkout@v2
      - if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install ninja-build valgrind
      - if: runner.os == 'macOS'
        run: brew install ninja
      - run: curl -fsSL https://cdn.thelang.io/packages.tar.gz | tar -xz the/${{ matrix.data.platform }}
      - run: echo "LIBRARY_PATH=$PWD/the/${{ matrix.data.platform }}:$LIBRARY_PATH" >> $GITHUB_ENV
      - run: echo "PACKAGES_DIR=$PWD/the/${{ matrix.data.platform }}" >> $GITHUB_ENV
      - run: mkdir -p build
      - if: matrix.data.memcheck == 'true'
        run: cmake . -B ./build -G "${{ matrix.data.generator }}" -D BUILD_TESTS=ON -D TEST_CODEGEN_MEMCHECK=ON
      - if: matrix.data.memcheck == 'false'
        run: cmake . -B ./build -G "${{ matrix.data.generator }}" -D BUILD_TESTS=ON
      - run: cmake --build build
      - run: ctest --output-on-failure --test-dir build
